altgraph==0.17
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
configparser==5.0.0
crayons==0.3.1
idna==2.10
macholib==1.14
PyInstaller==3.6
Pypubsub==4.0.3
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
PyYAML==5.3.1
requests==2.24.0
selenium==3.141.0
urllib3==1.25.9
webdriver-manager==3.2.1
